body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background */
}

.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.btn-danger {
    background-color: #e50914;
    border-color: #e50914;
}

.btn-danger:hover {
    background-color: #f6121d;
    border-color: #f6121d;
}

.accordion-button {
    background-color: #343a40;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #e50914;
}

.accordion-body {
    background-color: #f8f9fa;
}
